@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }
  *::selection {
    background-color: #002642;
    color: white; }

/* menu */
header {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  background-color: white; }
  header .logoDragons {
    width: 150px; }

.container-fluid {
  display: flex;
  align-items: center; }
  .container-fluid .navbar-toggler-icon {
    color: white; }
  .container-fluid .navbar-nav {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 24px; }
    .container-fluid .navbar-nav .nav-item {
      margin: 15px; }
      .container-fluid .navbar-nav .nav-item .nav-link {
        color: #002642;
        text-decoration: none; }
        .container-fluid .navbar-nav .nav-item .nav-link:hover {
          text-decoration: underline; }
      .container-fluid .navbar-nav .nav-item .nav-link.active {
        text-decoration: underline; }

/*titulosPrincipales*/
.tituloPrincipal {
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: #840032;
  border: double;
  border-radius: 10px; }

/* index */
.portadaMain {
  background-image: url(../img/mansion-linda.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* historia del club */
.historiaMain, .equiposMain, .galeriaMain, .sponsorsMain, .contactoMain {
  background-color: #002642;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.imagenHistoria {
  background-image: url(../img/sam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-inline: 150px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .imagenHistoria h2 {
    background-color: #840032;
    font-weight: bold;
    font-size: 35px;
    margin-block: 20px;
    padding: 10px;
    color: white; }
  .imagenHistoria p {
    color: #840032;
    text-align: center;
    font-weight: bold;
    background-color: rgba(169, 169, 169, 0.841);
    line-height: 1.6;
    font-size: 25px;
    padding: 15px; }

.seccionesHistoria {
  background-color: #002642;
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-top: 10px; }
  .seccionesHistoria .divHistoria h3 {
    color: white;
    margin-block: 25px;
    text-align: center;
    border-style: double;
    background-color: #840032; }
  .seccionesHistoria .divHistoria ul li {
    list-style-type: none;
    color: white;
    text-align: center;
    line-height: 1.8;
    font-size: 20px; }

.ambasRemeras {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px; }

.remera {
  width: 200px; }

/* EQUIPOS */
.card {
  height: 300px;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.336);
  overflow: hidden; }
  .card:hover {
    cursor: pointer; }
  .card:hover .card-body {
    opacity: 1;
    visibility: visible; }
  .card:hover .card-img-top {
    transform: scale(1.1); }
  .card .card-img-top {
    height: 300px; }
  .card .card-body {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    padding: 0%; }
    .card .card-body li {
      color: #002642;
      font-weight: bold; }

/* Galeria de fotos */
.carousel-item img {
  height: 600px;
  object-fit: contain; }

/* SPONSOR */
/* GRID */
.sponsorsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sponsorsSection .sponsorsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px; }
    .sponsorsSection .sponsorsDiv .imagenDiv1, .sponsorsSection .sponsorsDiv .imagenDiv2, .sponsorsSection .sponsorsDiv .imagenDiv3, .sponsorsSection .sponsorsDiv .imagenDiv4, .sponsorsSection .sponsorsDiv .imagenDiv5, .sponsorsSection .sponsorsDiv .imagenDiv6 {
      background-color: white;
      padding-left: 25px;
      padding-top: 20px;
      border-radius: 10px; }
    .sponsorsSection .sponsorsDiv .imagenDiv2 {
      background-color: white;
      padding-left: 45px;
      padding-top: 10px;
      border-radius: 10px; }
    .sponsorsSection .sponsorsDiv .imagenDiv3 {
      background-color: white;
      padding-left: 60px;
      border-radius: 10px; }
    .sponsorsSection .sponsorsDiv .imagenDiv4 {
      background-color: white;
      padding-left: 25px;
      padding-top: 15px;
      border-radius: 10px; }
    .sponsorsSection .sponsorsDiv .imagenDiv5 {
      background-color: white;
      padding-left: 25px;
      padding-top: 10px;
      border-radius: 10px; }
    .sponsorsSection .sponsorsDiv .imagenDiv6 {
      background-color: white;
      padding-top: 25px;
      border-radius: 10px; }

/* contacto */
.icono {
  color: white;
  font-size: 25px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .icono i {
    padding-bottom: 10px; }

.contactoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px; }
  .contactoSection .formularioContacto {
    color: white;
    font-size: 25px;
    width: 400px;
    height: 400px; }
    .contactoSection .formularioContacto .mb-3 {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contactoSection .formularioContacto button {
      color: white;
      background-color: #002642;
      border-color: white;
      border-style: double;
      border-radius: 15px;
      font-size: 20px;
      padding: 8px;
      margin-left: 300px; }
    .contactoSection .formularioContacto button:hover {
      background-color: white;
      color: #002642;
      border-style: double;
      border-color: #002642; }

/* footer */
.pieDePagina {
  background-color: #002642;
  color: #E59500;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .pieDePagina .pieDiv a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px; }
    .pieDePagina .pieDiv a i {
      color: #E59500; }
      .pieDePagina .pieDiv a i.fa-instagram:hover {
        color: fuchsia; }
      .pieDePagina .pieDiv a i.fa-facebook-square:hover {
        color: blue; }
      .pieDePagina .pieDiv a i.fa-youtube:hover {
        color: red; }
  .pieDePagina .pieDiv hr {
    height: 10px;
    color: #E59500;
    opacity: 1; }
  .pieDePagina .pieDiv .canchas {
    height: 500px;
    width: 700px;
    padding: 20px;
    border-radius: 30px; }

/* ANIMACIONES */
.tituloPrincipal {
  -webkit-animation: blur-out-contract-bck 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: blur-out-contract-bck 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0);
    filter: blur(12px) opacity(0); } }

@keyframes blur-out-contract-bck {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
    -webkit-filter: blur(12px) opacity(0);
    filter: blur(12px) opacity(0); } }

.imagenHistoria h2,
p {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
  animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.contactoSection {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.imagenDiv1, .imagenDiv2, .imagenDiv3, .imagenDiv4, .imagenDiv5, .imagenDiv6 {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

.imagenDiv1, .imagenDiv2, .imagenDiv3, .imagenDiv4, .imagenDiv5, .imagenDiv6 {
  animation-delay: 0.1s; }

.imagenDiv2 {
  animation-delay: 0.2s; }

.imagenDiv3 {
  animation-delay: 0.3s; }

.imagenDiv4 {
  animation-delay: 0.4s; }

.imagenDiv5 {
  animation-delay: 0.5s; }

.imagenDiv6 {
  animation-delay: 0.6s; }

/* medias queries */
/* TABLET */
/* todas las secciones*/
@media (min-width: 768px) and (max-width: 1024px) {
  header .logoDragons {
    width: 100px;
    height: 100px; }
  .container-fluid .navbar-nav {
    align-items: flex-end;
    font-size: 20px; }
    .container-fluid .navbar-nav .nav-item {
      margin: 0%; }
  .portadaMain {
    text-align: center; }
  .mansionFoto {
    width: 100vh; }
  .seccionesHistoria {
    flex-direction: column; }
  .historiaMain .imagenHistoria, .equiposMain .imagenHistoria, .galeriaMain .imagenHistoria, .sponsorsMain .imagenHistoria, .contactoMain .imagenHistoria {
    height: 100vh; }
    .historiaMain .imagenHistoria h2, .equiposMain .imagenHistoria h2, .galeriaMain .imagenHistoria h2, .sponsorsMain .imagenHistoria h2, .contactoMain .imagenHistoria h2 {
      font-size: 25px; }
    .historiaMain .imagenHistoria p, .equiposMain .imagenHistoria p, .galeriaMain .imagenHistoria p, .sponsorsMain .imagenHistoria p, .contactoMain .imagenHistoria p {
      font-size: 20px; }
  .ambasRemeras {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mapa h3 {
      width: 100%; }
  .contactoSection {
    flex-direction: column;
    gap: 50px; }
    .contactoSection .formularioContacto button {
      margin-left: 180px; } }

/* MOBILE */
/* todas las secciones */
@media (min-width: 320px) and (max-width: 768px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    justify-content: flex-end; }
  .container-fluid .navbar-nav {
    font-size: 15px;
    align-items: flex-end; }
    .container-fluid .navbar-nav .nav-item {
      margin: 0%; }
  header .logoDragons {
    width: 100px;
    height: 100px; }
  .portadaMain {
    text-align: center; }
  .mansionFoto {
    width: 100vw; }
  .historiaMain .imagenHistoria, .equiposMain .imagenHistoria, .galeriaMain .imagenHistoria, .sponsorsMain .imagenHistoria, .contactoMain .imagenHistoria {
    animation: none;
    padding-inline: 0;
    height: 0%; }
    .historiaMain .imagenHistoria p, .equiposMain .imagenHistoria p, .galeriaMain .imagenHistoria p, .sponsorsMain .imagenHistoria p, .contactoMain .imagenHistoria p {
      line-height: 1.6;
      font-size: 15px; }
    .historiaMain .imagenHistoria h2, .equiposMain .imagenHistoria h2, .galeriaMain .imagenHistoria h2, .sponsorsMain .imagenHistoria h2, .contactoMain .imagenHistoria h2 {
      font-size: 20px; }
  .seccionesHistoria {
    flex-direction: column; }
  .ambasRemeras {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .divHistoria iframe {
    width: 100%; }
  .sponsorsSection .sponsorsDiv {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: 100vw; }
    .sponsorsSection .sponsorsDiv .imagenDiv2 {
      padding-left: 15px; }
    .sponsorsSection .sponsorsDiv .imagenDiv3 {
      padding-left: 20px; }
    .sponsorsSection .sponsorsDiv .imagenDiv4 {
      padding-left: 5px; }
    .sponsorsSection .sponsorsDiv .imagenDiv6 {
      padding-left: 10px; }
  .sponsor {
    width: 90vw; }
  .icono {
    padding-inline: 20px; }
  .direccion {
    padding-left: 15px; }
  .pieDePagina .pieDiv .canchas {
    height: 90vw;
    width: 90vw; }
  .direccion {
    padding-left: 15px; }
  .pieDePagina .pieDiv .canchas {
    height: 90vw;
    width: 90vw; }
  .contactoSection {
    flex-direction: column;
    gap: 30px; }
    .contactoSection .formularioContacto {
      width: 80%;
      height: 90%; }
      .contactoSection .formularioContacto button {
        margin-left: 90px; } }
