@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* menu */
header {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color: white;
}

.logoDragons {
    width: 150px;
}

.container-fluid {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 24px;
}

.nav-item {
    margin: 15px;
}

.nav-item a {
    color: #002642;
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar-toggler-icon {
    color: white;
}

/* footer */
.pieDePagina {
    background-color: #002642;
    color: #E59500;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.pieDiv a i {
    color: #E59500;
}

.pieDiv a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
}

/*titulosPrincipales*/
h1 {
    color: white;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: #840032;
    border: double;
    margin-bottom: 30px;
    border-radius: 10px;
}

/* index */
.mansionFoto {
    border-radius: 10px;
}

.portadaMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* historia del club */
.historiaMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenHistoria {
    background-image: url(../img/foto-jugadores\ copia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 150px;
}

.imagenHistoria h2 {
    background-color: #840032;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

.imagenHistoria p {
    color: #840032;
    text-align: center;
    font-weight: bold;
    background-color: rgba(169, 169, 169, 0.841);
    line-height: 1.6;
}

.seccionesHistoria {
    background-color: #002642;
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-top: 10px;
}

.divHistoria h3 {
    color: white;
    margin-block: 25px;
    text-align: center;
    border-style: double;
    background-color: #840032;
}

.divHistoria ul li {
    list-style-type: none;
    color: white;
    text-align: center;
    line-height: 1.8;
    font-size: 20px;
}

.ambasRemeras {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.remera {
    width: 200px;
}

/* equipos */
.equiposMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body li {
    color: #002642;
    font-weight: bold;
}

/* Galeria de fotos */
.galeriaMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sponsors */
/* GRID */
.sponsorsMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsorsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsorsDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.imagenDiv1 {
    background-color: white;
    padding-left: 25px;
    padding-top: 20px;
    border-radius: 10px;
}

.imagenDiv2 {
    background-color: white;
    padding-left: 45px;
    padding-top: 10px;
    border-radius: 10px;
}

.imagenDiv3 {
    background-color: white;
    padding-left: 60px;
    border-radius: 10px;
}

.imagenDiv4 {
    background-color: white;
    padding-left: 25px;
    padding-top: 15px;
    border-radius: 10px;
}

.imagenDiv5 {
    background-color: white;
    padding-left: 25px;
    padding-top: 10px;
    border-radius: 10px;
}

.imagenDiv6 {
    background-color: white;
    padding-top: 25px;
    border-radius: 10px;
}

/* contacto */
.contactoMain {
    background-color: #002642;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.icono i {
    padding-bottom: 10px;
}

/* ANIMACIONES */

.imagenHistoria {
    animation: kenburns-bottom 5s ease-out both
}

@keyframes kenburns-bottom {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 84%
    }

    100% {
        transform: scale(1.25) translateY(15px);
        transform-origin: bottom
    }
}

.imagenDiv1 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.1s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.imagenDiv2 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.2s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.imagenDiv3 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.3s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.imagenDiv4 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.4s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.imagenDiv5 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.5s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.imagenDiv6 {
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation-delay: 0.6s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

.contactoSection {
    animation: slide-in-left .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

/* medias queries */
/* TABLET */
/* todas las secciones*/

@media (min-width:768px) and (max-width:1024px) {

    .logoDragons {
        width: 100px;
        height: 100px;
    }

    .navbar-nav {
        align-items: flex-end;
        font-size: 20px;
    }

    .nav-item {
        margin: 0%;
    }

    .portadaMain {
        text-align: center;
    }

    .mansionFoto {
        width: 100vh
    }

    .seccionesHistoria {
        flex-direction: column;
    }

    .imagenHistoria {
        height: 100vh;
    }

    .ambasRemeras {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mapa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mapa h3 {
        width: 100%;
    }
}

/* MOBILE */
/* todas las secciones */

@media (min-width:320px)and (max-width:768px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: flex-end;
    }
    .navbar-nav {
        font-size: 15px;
        align-items: flex-end;
    }

    .logoDragons {
        width: 100px;
        height: 100px;
    }

    .nav-item {
        margin: 0%;
    }

    .portadaMain {
        text-align: center;
    }

    .mansionFoto {
        width: 100vw;
    }

    .imagenHistoria {
        animation: none;
        padding-inline: 0;
    }

    .imagenHistoria p {
        line-height: 1.6;
    }

    .seccionesHistoria {
        flex-direction: column;
    }

    .ambasRemeras {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divHistoria iframe {
        width: 100%;
    }

    .sponsorsDiv {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        width: 100vw;
    }

    .sponsor {
        width: 90vw;
    }

    .imagenDiv2 {
        padding-left: 15px;
    }

    .imagenDiv3 {
        padding-left: 20px;
    }

    .imagenDiv4 {
        padding-left: 5px;
    }

    .imagenDiv6 {
        padding-left: 10px;
    }

    .icono {
        padding-inline: 20px;
    }
}