/*titulosPrincipales*/

.tituloPrincipal {
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: $secondColor;
    border: double;
    border-radius: 10px;
}