@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* variables */

$fontOpenSans: 'Open Sans', sans-serif;
$mainColor: #002642;
$footerColor: #E59500;
